@model w1Consultorio.Models.Perfil

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <h4> Confirma a exclusão do perfil: @Html.DisplayFor(model => model.Descricao) ?</h4>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        @Html.HiddenFor(model => model.CodPerfil)
        <input type="submit" value="Excluir" class="btn btn-primary" />
        <input type="button" class="btn btn-primary" value="Cancelar" onclick="location.href='@Url.Action("Index", "Perfil", new { sistemaid = Model.Modulo.CodSistema, moduloid = Model.CodModulo })'" />
    </p>
}
